# ── Large Binary Byproduct ──
*.onnx
*.onnx.data
*.safetensors
*.npy

# Quantization result (Output from llmcompressor save_pretrained)
*-W4A16-*/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.ipynb_checkpoints/
