# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: Copyright © 2025 Synaptics Incorporated.

ai-edge-litert
datasets
huggingface_hub
numpy
nvidia-modelopt
ml_dtypes
onnx
onnxruntime
onnx_graphsurgeon
optimum[onnxruntime]
polygraphy
tokenizers
transformers